*{
    margin: 0;
    padding: 0;
    font-family: "montserrat" ,sans-serif;
}
.contact-section {
    background: url(IMG/contactIMG.jpg) no-repeat center;
    background-size: cover;
    padding: 40px 0;
}

/* "Contact Us" Styling*/

.contact-section h1 {
    text-align: center;
    color: #fff;
    font-size: 55px;
}

/* Line under the "Contact Us" Styling*/

.border {
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}

/*Form Styling*/
.contact-form{
    max-width: 600px; /* Styling to the width of box*/
    margin: auto; /*The browser selects a suitable margin to use. For example, in certain cases this value can be used to center an element.*/
    padding: 0 10px;
    overflow: hidden;
}

/* Text box styling */
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;/* created space between the text boxes*/
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

/* shadow effect */
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #f1c40f;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12 px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #2980b9;
}